/* custom properties */
:root {
    --clr-pri-softcyan: hsl(174, 77%, 80%);
    --clr-pri-strongcyan: hsl(174, 86%, 45%);
    --clr-pri-grayred: hsl(14, 92%, 95%);
    --clr-pri-red: hsl(15, 100%, 70%);
    --clr-pri-blue: hsl(226, 100%, 87%);

    --clr-neu-white: hsl(0, 0%, 100%);
    --clr-neu-paleblue: hsl(230, 100%, 99%);
    --clr-neu-grayblue: hsl(224, 65%, 95%);
    --clr-neu-grayblue2: hsl(223, 50%, 87%);
    --clr-neu-grayblue3: hsl(225, 20%, 60%);
    --clr-neu-desblue: hsl(227, 35%, 25%);

    --ff-default: 'Manrope', sans-serif;
}

/* resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
}

/* utilities */


/* defaults */
body {
    font-family: var(--ff-default);
    font-size: .94rem;
    color: var(--clr-neu-grayblue3);
    background-color: var(--clr-neu-paleblue);
}

.interactive-pricing {
    width: min(515px, 88%);
    margin-inline: auto;
    margin-top: 60px;
}

.pricing-main {
    background-color: var(--clr-neu-white);
    border-radius: 7px;
}

.pricing-header {
    text-align: center;
    padding-block: 20px;
    margin-bottom: 30px;
    background-image: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    font-size: min(27px, 5.61vw);;
    font-weight: 800;
    color: var(--clr-neu-desblue);
    margin-bottom: 10px;
}

.pricing-header > p {
    font-size: .9em;
    line-height: 1.;
    margin-inline: auto;
    margin-bottom: 25px;
}

.pricing-main-content {
    display: grid;
    border-bottom: 2px solid var(--clr-neu-paleblue);
    padding-block: 30px;
    padding-inline: min(45px, 7.04vw);
}

.pageviews {
    font-size: min(13px, 3.2vw);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#pricing-value {
    font-size: min(40px, 7.6vw);
    font-weight: 800;
    color: var(--clr-neu-desblue);
    vertical-align: middle;
}

input[type="range"] {
    accent-color: var(--clr-pri-softcyan);
    width: 100%;
    height: 8px;
    margin-inline: auto;
    margin-block: min(45px, 9.34vw);
    background-color: var(--clr-neu-grayblue);
    border-radius: 5px;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--clr-pri-softcyan);
    border-radius: 5px;
    height: 100%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px; height: 20px;
    border-radius: 50%;
    background-image: url(../images/icon-slider.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--clr-pri-strongcyan);
    border: 7px solid var(--clr-pri-strongcyan);
    box-shadow: 0 15px 10px var(--clr-pri-softcyan);
    cursor: pointer;
}

.billing-plan {
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.toggle-button {
    width: 44px;
    background-color: var(--clr-neu-grayblue2);
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;    
}

.inner-circle {
    display: block;
    background-color: var(--clr-neu-white);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    height: 16px;
    transition: all 250ms ease-in-out;
}

#toggle-input {
    opacity: 0;
    pointer-events: none;
}

.toggle-button:has(input[type="checkbox"]:checked) {
    background-color: var(--clr-pri-strongcyan);
}

.inner-circle:has(input[type="checkbox"]:checked) {
    margin-left: calc(100% - 16px);
}

#discount {
    background-color: var(--clr-pri-grayred);
    color: var(--clr-pri-red);
    font-weight: 800;
    padding-inline: 6px;
    border-radius: 10px;
    position: absolute;
    left: max(77%, 253.267px);
}

@media (max-width: 639px) {
    .pricing-header > p {
        max-width: 60%;
    }

    .pricing-main {
        text-align: center;
    }
    
    .pricing {
        margin-bottom: 30px;
        grid-row: 3;
    }

    #discount > span {
        display: none;
    }
}

@media (min-width: 640px) {
    .pricing-main-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    input[type="range"],
    .billing-plan {
        grid-column: span 2;
    }
}

.pricing-footer {
    padding-block: 25px;
    padding-inline: min(45px, 7.04vw);
}

ul.benefits > li {
    padding-block: 5px;
    font-size: .85em;
}

li > img {
    margin-right: 10px;
}

.btn {
    border-radius: 20px;
    font-size: .9em;
    cursor: pointer;
}

.cta {
    background-color: var(--clr-neu-desblue);
    color: var(--clr-pri-blue);
    font-weight: 600;
}

.btn-start {
    padding: 10px 40px;
}

@media (min-width: 640px) {
    .pricing-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 639px) {
    ul.benefits {
        margin-bottom: 20px;
    }
}

/* customs */